
.content {
  min-height:80vh;
  background: url('/./static/img/games.jpg')no-repeat center center fixed;
  background-size:cover;
  border-radius:5pt;
}

.game {
  float:left;
  height: 20%;
  width: 42%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.4);
  background-clip:content-box;
}
.game h1{
  color: rgba(180, 180, 180, 1);
  margin-left: 15px;
  float:left;
}
.game p{
  clear:both;
  color: rgba(180, 180, 180, 1);
  margin-left: 18px;
  float:left;
}
.game:hover{
  background-color: rgba(0, 0 , 0 , 0.6);
  cursor:pointer;
}
.imgthumbnail {
  float:right;
  padding-right:5pt;
  width:200px;
  height:100px;

}
