{% extends 'base_layout.html'%}
{% load static from staticfiles %}
{%block content%}
<div class="container">

<link rel= "stylesheet" href= "{%static 'css/complaints.css'%}">
<title>Contact</title>
    <div class="content">
      <h1> Did we screw up? </h1>
      {% if user.is_authenticated %}
      <form action="">
        <input type="text" style = "height:20%; "></input>
        <input class= "btn btn-dark my-2 my-sm-0" type="submit" name = "complaint">
      </form>
      {% else %}
      <p>Please log in to leave some feedback</p>
      {% endif %}
    </div>
  </div>
{%endblock%}
